<div id="<%= dom_id goal %>">
  <p>
    <strong>Targetdate:</strong>
    <%= goal.targetDate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Targetvalue:</strong>
    <%= goal.targetValue %>
  </p>

  <p>
    <strong>Startingvalue:</strong>
    <%= goal.startingValue %>
  </p>

  <p>
    <strong>Timeframe:</strong>
    <%= goal.timeFrame %>
  </p>

  <p>
    <strong>Complemetionrate:</strong>
    <%= goal.complemetionRate %>
  </p>

</div>
